@import"reset";
@import"button";
.wrap{
    width: 940px;
    margin: auto;
}    
.header{
    width: 940px;
    height: 40px;
    margin-top: 30px;
}
.list{
    float: right;
    display: flex;
    ul{
        display: flex;
        margin-top: 10px;
    }
    a{
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
    li{
        margin-left: 30px;
        margin-right: 30px;
    }
    
   

}

.logo{
    float: left;
    a{
          display: block;
          width: 200px;
          height: 40px;
          background: url(/img/logo-all-dark.svg) no-repeat;
          text-indent: 101%;
          overflow: hidden;
          white-space: nowrap;
    }
  }

.main-img{
    width: 940px;
    height: 496px;
    margin-top: 30px;
}
.content{
    width: 940px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.sidebar{
    width: 300px;
}

.productlist{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 434px;
    margin-bottom: 20px;
}
.product-img{
    position: relative;
}
.label{
    padding: 10px;
    writing-mode: vertical-lr;
    font-size: 16px;
    letter-spacing: 10px;
    position: absolute;
    left: 20px;
    top: 0;
    background: #3F5D45;
    color: white;
}
.box{
    width: 150px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    float: left;
    border: 1px solid rgb(205, 205, 205);
    font-size: 20px;
}


