.wrap{
    width: 940px;
    margin: auto;
    background-color: rgb(15, 15, 15);}
.header{
    width: 940px;
    height: 40px;
    background-color: rgb(167, 208, 255);
    margin-top: 30px;
    display: flex;
}
.main-img{
    width: 940px;
    height: 496px;
    background-color: rgb(167, 255, 217);
    margin-top: 30px;
}
.content{
    width: 940px;
    background-color: rgb(246, 255, 167);
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.sidebar{
    width: 300px;
    background-color: rgb(231, 54, 54);
}

.productlist{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    background-color: rgb(250, 20, 223);
}

.card{
    width: 300px;
    height: 434px;
    background-color: rgb(233, 250, 0);
    margin-bottom: 20pxs;
}
.product-img{
    position: relative;
}
.label{
    padding: 10px;
    writing-mode: vertical-lr;
    font-size: 16px;
    letter-spacing: 10px;
    position: absolute;
    left: 20px;
    top: 0;
    background: #3F5D45;
    color: white;
}
.box{
    width: 150px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    box-sizing: border-box;
    float: left;
    border: 1px solid rgb(205, 205, 205);
    font-size: 20px;
}